<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>IP Logger</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">

 
        <div class="jumbotron">
            <h1>IP Logger</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign Up New Server</a>
            </p>
        </div>
 
        <div class="row">
            <p>I am not paying for DDNS any longer, so this is a thing.</p>
           
        </div>
 
        <footer class="footer">
            <p>Robert Curran 2017</p>
        </footer>
 
    </div>
</body>
 
</html>