{% extends "layout.html" %}

{% block body %}

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>IP</th>
                    <th>Friendly Name</th>
                    <th>Last Changed</th>
                </tr>
                </thead>
                <tbody>

                {% for server in all_servers %}
                    <tr>
                        <th scope="row">{{ server[3] }}</th>
                        <td><a href="http://{{ server[0] }}">{{ server[0] }}</a></td>
                        <td>{{ server[4] }}</td>
                        <td>{{ server[1] }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>

        <div class="col-2"></div>
    </div>{#End Row#}

{% endblock %}